<h3>{{ isNew ? "Crear" : "Modificar" }} Trabajador</h3>
<mat-divider></mat-divider>
<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
  <div>
    <input type="hidden" formControlName="id" />
    <mat-form-field apperance="fill">
      <input formControlName="nombre" matInput placeholder="Nombre*" />
      <mat-error>Este campo es requerido</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input formControlName="apellidos" matInput placeholder="Apellidos*" />
      <mat-error>Este campo es requerido</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        formControlName="fechaNacimiento"
        matInput
        [matDatepicker]="picker"
        placeholder="Fecha de nacimiento"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <div class="add-bottom-padding">
      <mat-checkbox formControlName="estado">Estado</mat-checkbox>
    </div>
    <div class="button-row">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="service.form.invalid"
      >
        {{ isNew ? "Guardar" : "Actualizar" }}
      </button>
      <button mat-raised-button color="warn" (click)="onClear()">
        Limpiar
      </button>
    </div>
  </div>
</form>
